
@media screen and (min-width: 465px){
picture img{
 object-fit: cover;
 max-width: 100%;
 border-radius: 15px 15px 0px 0px;
}
.container{
    border:1px solid transparent; 
    background-color: antiquewhite;
    padding:30px;
    justify-content: center;
    align-items: center;  
    
}
.main_container{
    border:solid 0.5px transparent;
    border-radius: 20px;
    background-color: #fff;
    
   
}


.text_inner h5{
    font-family: sans-serif;
    opacity:0.4;
    letter-spacing: 5px;
    font-size: 15px;
    

}
.text_inner {
    background-color: #fff;
    padding-inline: 20px;
    font-family: 'Playfair Display', 'Times New Roman', serif;
    border-radius: 20px;
   
}

.btn_cart {
    margin-bottom: 20px;
    background-color: #40826D;
    border-radius: 5px;
    padding: 15px 30px;
    width: 100%;
    border-color: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
}

.lower{
    display: flex;
    

}

.final_price{
 color:#40826D;
 font-size: 40px;
 font-weight:bolder;

 
}
.former_price{
    margin-left:10px;
    margin-top:55px;
    text-decoration:line-through;   
}
.btn_cart{
    margin-bottom: 20px;
    background-color:#40826D;
    border-radius:5px;
    padding: 15px 130px;
    border-color: transparent;
    color:white;
    text-align: center;
    font-weight: bold;
    
  
}
}   


@media screen and (min-width: 650px) {
  
    .main_container {
        display: flex;
        width: 700px; 
        margin: 60px auto 0; 
        border-radius: 20px;
        height: auto; 
        background-color: #fff; 
        flex-direction: row;
    }
    picture { 
        max-width: 800px; 
        margin: 0 auto; 
        display: block; 
    }
    picture img {
        max-width: 100%;
        height: auto;    
        object-fit: contain; 
        border-radius: 20px 0px 0px 20px; 
        padding: 0;
        margin-bottom: 0; 
       
    }
    
    .text_main{
        margin-top: 20px;
        display:block;
    }
    body{
        background-color: antiquewhite;
    }
    .btn_cart{
        margin-right: 20px;
        font-size: 10px;
        margin-bottom: 50px;
        text-align: center;    
    }
    }
